{{> header}}
<div class='ui main text container segment'>
    <div class='ui huge header'>New Recipe</div>
    <form class="ui form" action='/recipes' method='POST'>
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="recipe[title]" placeholder='Title' required value="">
        </div>

        <div id="ingredinetContainer" class="field">
            <label for="">Ingredients</label>
            <div id="ingredients">
                <div class="three fields">
                    <div class="field">
                        <input type="text" name="recipe[ingredients][0][ingredient]" placeholder='Ingredient' required
                            value="">
                    </div>
                    <div class="field">
                        <input type="text" name="recipe[ingredients][0][quantity]" placeholder='Quantity' required
                            value="">
                    </div>
                    <div class="field">
                        <input type="text" name="recipe[ingredients][0][measure]" placeholder='Measure' required value="">
                    </div>
                </div>
            </div>
        </div>
        <button id="addIngredient" class="ui button">Add</button>
        <div id="removeIngredient" class="ui red button" tabindex="0">Remove</div>

        <div class="field">
            <label for="">Body</label>
            <textarea name="recipe[body]" required></textarea>
        </div>
        <input class="ui black basic button" type="submit">
    </form>
</div>

{{> footer}}