body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    margin-top: 70px;
    margin-bottom: 20px;
    flex: 1;
}

.container.main {
    margin-top: 7em;
}

#btnContainer {
    display: flex;
    flex-direction: row;
}