<h1>Friends list goes here!</h1>
<% friends.forEach(e=>{ %>
    <li>I have a friend called <%=e.name%></li>
<% })%>

<form action='/friends' method='POST'>
   <input type="text" name="newFriend" value="" placeholder='Name'> 
    <button type="">New Friend</button>
   </form>