<% include partials/header %>
<div class="container">
    <h1><%= campInfo.name%></h1>
    <img src="<%= campInfo.image%>" alt="">
    <p><%= campInfo.description %></p>
</div>
<% include partials/footer %>