.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.caption-full {
    padding: 9px;
}

.btnContainer {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.btnContainerComment {
    display: flex;
    width: 90px;
    justify-content: space-between;
}